body {background-color: #fffcfb;}

.centralizar {
    display: block;
    text-align: -webkit-center;
}

.fundoInfo {
    background-color: #ffdea1;
    padding: 20px 0px;
    overflow: hidden;
}
.textoInfo {
    background-color: #ffe7ba;
    padding: 1.6rem !important;
    border-radius: 5px 50px;
    color: #613b0d;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.fotoInfo {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botaoBanner {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    border: 1.7px solid #252525;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .botaoBanner:hover {
    box-shadow: 0px 15px 20px #e5cc9d;
    transform: translateY(-7px);
  }
  .botaoBanner:active {
    transform: translateY(-1px);
  }

  

  .input {
    width: 100%;
    max-width: 220px;
    height: 40px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }


  

 
  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    cursor: pointer;
  }
  .radio-button input[type="radio"] {
    display: none;
  }
  
  .circulo-radio {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 2px solid #683972;
    position: relative;
    margin-right: 10px;
  }
  
  .circulo-radio::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #8d519a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }
  .radio-button input[type="radio"]:checked + .circulo-radio::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .radio-button:hover .circulo-radio {
    border-color: #683972;
  }
  .radio-button:hover input[type="radio"]:checked + .circulo-radio::before {
    background-color: #683972;
  }
  